# Copyright (c) 2017 Juraj Ondruska (juraj.ondr@gmail.com) to Present
# All rights reserved. Use is subject to license terms.

# ----------------------------------------------------------------------
# Section: IntelliJ IDEA
# ----------------------------------------------------------------------
**/.idea/
**/out/
**/*.iml
**/*.ipr
**/*.iws

# ----------------------------------------------------------------------
# Section: Gradle
# ----------------------------------------------------------------------
**/.gradle/
**/build/
**/gradle/
!**/gradle-wrapper.properties
!**/gradle-wrapper.jar

# ----------------------------------------------------------------------
# Section: Maven
# ----------------------------------------------------------------------
**/target/
**/pom.xml.versionsBackup

# ----------------------------------------------------------------------
# Section: Miscallenous
# ----------------------------------------------------------------------
**/temp

# ----------------------------------------------------------------------
# Section: Git
# ----------------------------------------------------------------------
!.gitignore

# ----------------------------------------------------------------------
# Section: Misc
# ----------------------------------------------------------------------
logs
